html, body
{
  margin: 0; 
  padding: 0;
  text-align: center;
  background-color: #D9E7E8;
}

table, td, tr, thead, tfoot, tbody, th, tf, img
{
  border-collapse: collapse;
  margin:0px auto;
  padding:0px; 
  border:none;
  z-index:0;
}

/* Not used anymore. Should use? */
#main_div
{
  width: 960px;
  min-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#banner_div
{
  /* background-color: #FFFFFF; */
  width: 100%;
  padding: 0px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 16px;
  margin-bottom: 0px;
  text-align: left;
  -moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-top-left-radius: 15;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}

#account_bar_div
{
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0px;
  text-align: right;
}

#content_div
{
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0px;
  text-align: center;
  -moz-border-radius: 15px 0px 0px 0px;
	-webkit-border-top-left-radius: 15;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}

#footer_div
{
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  text-align: center;
 	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
}

#comments_form
{
  padding: 4px;
  margin: 4px; 
}
